/* GLOBAL */
:root {
    --accent-color: sandybrown;
}
html {
    scroll-behavior: smooth;
}

/* ------------------------------------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .5)), url("../css/img/background_grid_pattern.jpg");*/
    background-color: #816262;
    color: #1f1f1f;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------------------------------ */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 20px;
    background-color: rgba(181, 148, 148, 0.8);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* ----- HEADINGS -----  */
h1,
h2,
h3{
    font-weight: 300;
    text-transform: uppercase;
}
/* ----- Heading 1 -----  */
h1 {
    text-transform: initial;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}
/* ----- Heading 2 -----  */
h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 180%;
    text-align: center;
    letter-spacing: 2px;
}

h2:after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: var(--accent-color);
    margin: 0 auto;
    margin-top: 30px;
}

/* ----- Heading 3 -----  */
h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--accent-color);
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
}

/* ----- Heading 4 -----  */

h4 {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--accent-color);
    font-size: 90%;
    font-weight: 200;
    letter-spacing: 4px;
}

/* ----- PARAGRAPHS -----  */
.long-copy {
    line-height: 1.6;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- ICONS -----  */
.icon-big {

    font-size: 300%;
    display: block;
    color: var(--accent-color);
    margin-bottom: 20px;
    text-align: center;
}

.icon-small {
    font-size: 120%;
    width: 30px;
    display: inline-block;
    text-align: center;
    color: var(--accent-color);
    margin-right: 5px;
    /* secrets to centering inline elements */
    line-height: 120%;
    vertical-align: middle;
    margin-top: 1px;
}

/* ----- LINKS -----  */
a:link,
a:visited{
    color: var(--accent-color);
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1.5px solid var(--accent-color);
    transition: border-bottom 0.2s, color 0.2s;
}
a:hover,
a:active{
    color: white;
    border-bottom: 1px solid transparent;
}

/* ----- BUTTONS -----  */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 200px;
    color: white;
    font-size: 120%;
    background-color: rgba(165, 42, 42, 0.5);
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

/* --- Left button ---*/
.btn-full:link,
.btn-full:visited {
    background-color: rgba(165, 42, 42, 0.5);
    border: 3px solid #ffffff;
    color: white;
    margin-right: 15px;
}

/* --- Right button ---*/
.btn-ghost:link,
.btn-ghost:visited {
    border: 3px solid #ffffff;
    color: #ffffff;
}

.btn:hover,
.btn:active{
    background-color: orange;
}

.btn-full:hover,
.btn-full:active {
    border: 3px solid #ffffff;
}
.btn-ghost:hover,
.btn-ghost:active {
    border: 3px solid #ffffff;
    color: #ffffff;
}

/* ------------------------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------------------------ */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7)), url("../css/img/background2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;

    /*I like it more without fixed background*/
    /*background-attachment: fixed;*/
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 2px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid var(--accent-color);
}

/* ------------------------------------------------------------------------ */
/* FEATURES */
/* ------------------------------------------------------------------------ */

.section-features .long-copy {
    margin-bottom: 40px;
}

/* ------------------------------------------------------------------------ */
/* WORKS */
/* ------------------------------------------------------------------------ */

.section-works {
    padding: 0;
}

.works-showcase{
    list-style: none;
    width: 100%;
}

.works-showcase li {
    display: block;
    width: 25%;
    float: left;
}

.work-image {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.work-image img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.3s, opacity 0.3s;
}

.work-image img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/* ------------------------------------------------------------------------ */
/* LINKS */
/* ------------------------------------------------------------------------ */

.section-links .steps-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: ghostwhite;*/
}

.links-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 40px;
}
.links-box:last-child {
    padding-left: 3%;
    margin-top: 70%;
}

.link-image {
    width: 40%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.links{
    margin-bottom: 50px;
}

.links:last-of-type{
    margin-bottom: 80px;
}

.links div{
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img{
    height:100px;
    width: auto;
    margin: 10px;
}


/* ------------------------------------------------------------------------ */
/* CITIES */
/* ------------------------------------------------------------------------ */

/* Ensure all images are the same resolution and darker by default */
.box img {
    width: 100%;
    height: 200px;
    transform: scale(0.9);
    transition: transform 0.3s;
}
.box img:hover {
    transform: scale(1.01);
    filter: brightness(1.1);
}
.city-feature{
    margin-bottom: 5px
}

/* ------------------------------------------------------------------------ */
/* TESTIMONIALS */
/* ------------------------------------------------------------------------ */

.section-testimonials {
    margin-top: 50px;
    background-image: linear-gradient(rgb(115, 0, 0), rgba(0,0,0,0.0)), url("../css/img/backgroundmenu.jpg");
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    line-height: 145%;
    font-style: italic;
    position: relative;
    margin-top: 30px;
}

blockquote:before {
    content: '\201C';
    font-size: 500%;
    display:block;
    position: absolute;
    top: 5px;
    left: -10px;
}

cite {
    font-weight: 200;
    font-size: 90%;
    color: white;
    display: block;
    margin-top: 10px;
}

cite img{
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}